.reset-password-container {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    color: var(--text-color);
    border-radius: 10px;
    /* box-shadow: var(--box-shadow); */
    transition: background-color 0.5s, color 0.3s;
}

.reset-form {
    display: flex;
    flex-direction: column;
}

.reset-password-container .ant-form-item-label>label {
    color: var(--text-color);
}

.reset-password-container .ant-btn-primary {
    background-color: var(--btn-color);
    margin-top: 1rem;
    color: var(--btn-text-color);
}

.reset-password-container .ant-btn-primary:hover {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
}

